*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url(bgimg.jpg) no-repeat;
	background-size: cover;

	
}
.wrapper
{
	width: 80%;
	height: auto;
	margin: auto;
	padding: 50px;
}
.head1
{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 50px;
}
.head2
{
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
}
input.inputbox {
    border: none;
    padding: 15px 15px;
    width: 500px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
.searchBtn 
{
		margin: 20px;
		padding: 10px 20px;
		border: none !important;
		background: white;
}

.searchBtn2
{
		margin: 20px;
		padding: 10px 20px;
		border: none !important;
		background: white;
}
.searchBtn3
{
		margin: 20px;
		padding: 10px 20px;
		border: none !important;
		background: white;
}

.footer{
	margin-top: 50px;
	color: white;
}
.footer-text{
	color: yellow !important;
}